.popover#popover-download-image-info {
    max-width: 455px;
}

.file-name-format {
    background-color: #E5FFD0;
    color: #8FAF3D;
}

@media screen and (max-width: 426px) {
    .popover#popover-download-image-info {
        max-width: 405px;
    }
}

@media screen and (max-width: 376px) {
    .popover#popover-download-image-info {
        max-width: 355px;
    }
}

@media screen and (max-width: 321px) {
    .popover#popover-download-image-info {
        max-width: 305px;
    }
}