#detect-object.main {
    margin-top: 120px;
}

#detect-object .upload-btn {
    width: 50%;
}

.btn-close:disabled {
    background-color: currentColor !important;
}

.btn-close:hover {
    background-color: rgb(190, 190, 190) !important;
}

.btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgba(190, 190, 190, 0.25) !important;
}

.loading {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    position: absolute;
    width: 97%;
    height: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading .spinner {
    border: 5px solid #f2f2f2;
    border-top: 5px solid #76932d;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.accordion .accordion-item {
    color: #77787F;
}

.accordion .accordion-item .accordion-body {
    padding: 0.25rem;
}

.accordion .accordion-item .accordion-header .accordion-button {
    pointer-events: none;
    padding: 0.5rem 0.25rem;
}

.accordion .accordion-item .accordion-header .accordion-button::after {
    display: none !important;
}

.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    background-color: unset;
    box-shadow: none;
}

.collapse:not(.show) {
    display: block !important;
}

.conf-score {
    height: 168px;
    overflow-y: auto;
}

.download-btn {
    width: 100%;
}

.download-icon {
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 1024px) {
    .loading {
        width: 95%;
    }

    .conf-score {
        height: auto;
        min-height: 60px;
        max-height: 132px;
    }
}

@media screen and (max-width: 768px) {
    .loading {
        width: 97%;
    }

    .conf-score {
        min-height: 33px;
    }

    .accordion .accordion-item .accordion-header .accordion-button {
        pointer-events: all;
    }

    .accordion .accordion-item .accordion-header .accordion-button::after {
        display: inline-block !important;
    }

    .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
        background-color: #cfe2ff;
    }

    .accordion .accordion-item .accordion-header .accordion-button:focus {
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    .collapse:not(.show) {
        display: none !important;
    }

    .download-btn {
        width: 40%;
    }
}

@media screen and (max-width: 426px) {
    .detection-results {
        font-size: 15px !important;
    }

    .accordion .accordion-header .accordion-button::after {
        width: 15px !important;
        height: 15px !important;
        background-size: 15px !important;
    }

    .conf-score {
        min-height: 30px;
        max-height: 120px;
    }

    .download-btn {
        width: 60%;
    }
}

@media screen and (max-width: 376px) {
    .detection-results {
        font-size: 13px !important;
    }

    .accordion .accordion-header .accordion-button::after {
        width: 13px !important;
        height: 13px !important;
        background-size: 13px !important;
    }

    .loading .spinner {
        border-width: 4px;
        border-top-width: 4px;
        width: 25px;
        height: 25px;
    }

    .conf-score {
        min-height: 27px;
        max-height: 110px;
    }

    .download-btn {
        font-size: 14px !important;
    }

    .download-icon {
        width: 14px;
        height: 14px;
    }
}

@media screen and (max-width: 321px) {
    #detect-object .upload-btn {
        width: 55%;
    }

    .detection-results {
        font-size: 11px !important;
    }

    .accordion .accordion-header .accordion-button::after {
        width: 11px !important;
        height: 11px !important;
        background-size: 11px !important;
    }

    .conf-score {
        min-height: 24px;
        max-height: 96px;
    }

    .download-btn {
        font-size: 12px !important;
    }

    .download-icon {
        width: 12px;
        height: 12px;
    }
}