.brand {
    margin-left: -12px;
}

.login-btn {
    visibility: hidden;
    background-image: linear-gradient(to top right, #535453, #9EBE3D);
    border-color: #9EBE3D !important;
    font-size: 14px !important;
}

.login-btn:hover {
    background-image: linear-gradient(to top right, #363636, #82a127);
}

.menu-item {
    padding-right: 150px;
    font-weight: 500;
}

.menu-item a, .nav-item a {
    -webkit-user-drag: none;
}