:root {
    --alert-max-width: 365px;
    --alert-message-max-height: 72px;
    --alert-padding-right: 30px;
    --alert-padding-top: 22px;
    --alert-animation-duration: 0.5s;
}

.fullscreen {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1031;
    align-items: flex-start;
    padding-top: 100px;
    justify-content: flex-end;
    padding-right: var(--alert-padding-right);
}

.fullscreen .alert {
    position: relative;
    max-width: var(--alert-max-width);
    animation: alert-rtl var(--alert-animation-duration);
    border-radius: 0;
}

.alert .alert-message {
    max-height: var(--alert-message-max-height);
    overflow-y: hidden;
}

.alert-dismissible .btn-close {
    padding: 17px 12px !important;
}

.alert .app-description {
    color: black;
}

.alert-progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
}

.alert-progress-bar-1s {
    animation: alert-progress-bar 1s ease-in;
}

.alert-progress-bar-2s {
    animation: alert-progress-bar 2s ease-in;
}

.alert-progress-bar-3s {
    animation: alert-progress-bar 3s ease-in;
}

@keyframes alert-rtl {
    from {
        margin-right: calc(-1 * (var(--alert-max-width) + var(--alert-padding-top)));
    }

    to {
        margin-right: 0;
    }
}

@keyframes alert-ttb {
    from {
        margin-top: calc(-1 * (215px + var(--alert-message-max-height) + var(--alert-padding-top)));
    }

    to {
        margin-top: 0;
    }
}

@keyframes alert-progress-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .fullscreen {
        justify-content: center;
        padding-right: 0;
    }

    .fullscreen .alert {
        animation: none;
        animation: alert-ttb var(--alert-animation-duration);
    }

    .alert .alert-message {
        max-height: 61px;
    }

    .detection-results.fs-6 {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 376px) {
    .fullscreen .alert {
        max-width: 320px;
    }

    .alert .alert-message {
        max-height: 59px;
    }

    .detection-results.fs-6 {
        font-size: 13px !important;
    }
}

@media screen and (max-width: 321px) {
    .fullscreen .alert {
        max-width: 270px;
    }

    .alert .alert-message {
        max-height: 44px;
    }

    .detection-results.fs-6 {
        font-size: 11px !important;
    }
}